.tour-card {
    text-align: center;
    padding: 40px;
    border: 1px solid rgba(167, 141, 98, 0.5);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
  }
  
  .tour-card h4 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .drop {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #63ab45;
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
  }
  
  @keyframes floating-animation {
    0% {
      transform: scale(1) rotate(45deg);
    }
  
    50% {
      transform: scale(0.8) rotate(45deg);
    }
  
    100% {
      transform: scale(1) rotate(45deg);
    }
  }
  
  @keyframes floating-img-animation {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.8);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .tour-card:hover svg {
    animation: floating-animation 2s infinite ease-in-out;
  }
  
  .tour-card:hover img {
    animation: floating-img-animation 2s infinite ease-in-out;
  }
  
  .tour-card:hover .drop {
    transform: translateY(0);
  }
  
  .bg-blur {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  @keyframes ringPulse {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
  
    10% {
      opacity: 1;
    }
  
    80%,
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  
  @keyframes ringPulse1 {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
  
    30% {
      opacity: 1;
    }
  
    70%,
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  
  .music-btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: #fff solid 1px;
    border-radius: 100%;
    animation: ringPulse 1s infinite linear;
  }
  
  .music-btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: #fff solid 1px;
    border-radius: 100%;
    animation: ringPulse1 2s infinite linear;
  }