/* .destination_dropdown{
   transition: all ease-in-out 0.4s;

} */
/* .destination_dropdown_show{
    display: flex;
}
 */

 .destination_dropdown{
    display: none;

    /* Position it right below the trigger element */
    left: 0;
    padding-top: 0.25rem;
    position: absolute;
    top: 100%;

    /* It should be on the top of other elements */
    background-color: #fff;
    z-index: 9999;
 }
 
.tour-click-btn:focus+.destination_dropdown{
    display: block;
}

