
.bg-world-photo {
  /* background-image: url("https://gaviaspreview.com/wp/gowilds/wp-content/uploads/2022/12/bg-shape-01.png"); */
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.arrow-icon {
  padding: 10px 20px;
  border-radius: 50%;
  background-color: #63ab45;
}

.content-arrow,
.content-bar {
  transition: 0.4s ease-in;
}

.content-img {
  transform: scale(1);
  transition: 8s ease-in;
}

.content-card:hover .content-img {
  transform: scale(1.5);
}

.content-card:hover .content-bar,
.content-card:hover .content-arrow {
  background: #f7921e;
}

.content-para {
  height: auto;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s;
}

.content-card:hover .content-para {
  max-height: 90px;
  opacity: 1;
  padding-top: 10px;
}

/* About Company */

.bg-shape-02 {
  background-image: url("https://gaviaspreview.com/wp/gowilds/wp-content/uploads/2022/12/bg-shape-02.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  bottom: 100px;
  position: absolute;
  transform: scale(1.4);
}

@keyframes floatingLogo {
  0% {
    transform: translateX(0);
  }

  45% {
    transform: translateY(-10px);
  }

  85%,
  100% {
    transform: translateY(0);
  }
}

.logo-floating {
  animation: floatingLogo 2s infinite;
}

@keyframes floatingDot {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(-10px, -10px);
  }

  100% {
    transform: translate(0);
  }
}

.bg-shaping-dot {
  animation: floatingDot 5s infinite;
}

/* Popular Activity */

.bg-photo {
  background-image: url("src/assets/images/Bg_shape/bg-02.jpg");
  background-position: top;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: scale(1.2);
  z-index: -3;
}

.activity-card:hover .activity-icon {
  color: white;
}

/* Feature Tour */

.feature-content {
  transition: 0.3s ease-in;
}

.feature-title,
.location,
.prize {
  color: white;
}

.feature-card:hover .feature-title {
  color: black;
}

.feature-card:hover .location,
.feature-card:hover .prize {
  color: #bbbbbb;
}

.feature-content::after {
  content: "";
  width: 100%;
  height: calc(100% + 15px);
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: -1;
  transition: all 0.35s;
}

.feature-card:hover .feature-content::after {
  bottom: 0;
  background: #fff;
  z-index: 1;
}

.star {
  opacity: 1;
  transition: 0.3s ease-in;
}

.feature-card:hover .star {
  opacity: 0;
}

.review {
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  top: -20px;
  left: 0;
  z-index: 100;
  max-height: 0;
}

.feature-card:hover .review {
  opacity: 1;
  position: relative;
  top: 0px;
}

.card-title {
  transition: 0.5s;
}

.card-para {
  color: rgb(130, 130, 138);
  transition: 0.5s;
}

.card-icon {
  color: #63ab45;
  transition: 0.5s;
}

.card-column:hover .card-icon,
.card-column:hover .card-title,
.card-column:hover .card-para {
  color: #fff;
}

.card-column::after {
  content: "";
  opacity: 0;
  background-color: #63ab45;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: 100%;
  z-index: -1;
  border-radius: 8px;
  transition: all 0.5s;
}

.card-column:hover::after {
  opacity: 1;
  bottom: -1px;
  z-index: 1;
}

.card-column {
  transform: translateY(0);
  transition: 0.5s;
}

.card-column:hover {
  transform: translateY(-10px);
}

/* Destination */

.destination-img {
  transform: scale(1);
  transition: 8s ease-in;
}

.destination-container:hover .destination-img {
  transform: scale(1.5);
}

/* Achievements */

.achievement-card {
  background-color: white;
}

.achievement-icon {
  position: relative;
}

.achievement-icon::after {
  content: "";
  background-color: #63ab45;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  transform: scale(1.2);
  opacity: 0;
  transition: 0.3s ease-in;
  z-index: 1;
}

.achievement-card:hover .achievement-icon::after {
  opacity: 1;
  transform: scale(1);
}

.achievement-card:hover .ac-icon {
  color: white;
  z-index: 12;
}

/* Testimonials */

.testimonial-card {
  padding: 50px 60px;
  border-bottom: 4px solid #63ab45;
}

.quote-icon {
  border-radius: 0 10px 0 100%;
}

.arrow {
  position: absolute;
  width: 146px;
  height: 50px;
  top: 100%;
  left: 60px;
}

.first {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -2px;
  background: white;
  z-index: 9;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.second {
  position: absolute;
  left: 0;
  right: -4px;
  bottom: -4px;
  top: 0;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color: #63ab45;
  z-index: 1;
}
