.footer {
  font-family: "Kumbh Sans", sans-serif;
}
.footer-main-text {
  font-weight: 500;
}
.arrow-icon {
  padding: 15px 15px 5px 15px;
  background-color: rgb(99, 171, 69);
  box-shadow: 0px 10px 60px 0px
    rgba(99.00000000000004, 171.00000000000003, 68.99999999999997, 0.61);
}
.arrow-orange {
  box-shadow: 0px 10px 60px 0px
    rgba(246.99999999999994, 145.99999999999997, 30.00000000000003, 0.54);
}

.first-footer {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.footer-items {
  padding-left: 15px;
  padding-right: 15px;
}
.footer-item-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-page-link-text {
  color: rgb(225, 225, 225);
  transition: all 0.3s;
}
.footer-page-link-text:hover {
  color: rgb(99, 171, 69);
}
.newsHeader::after {
  content: "";
  width: 18px;
  height: 26px;
  background: url("../../assets/images/arrow.png") no-repeat center center
    transparent;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: calc(100% + 12px);
}
.email-input {
  border: none;
  border-radius: 6px 0 0 6px;
 
  padding-left: 20px;
  outline: none;
  color: rgb(130, 130, 138);
}
.email-input:focus {
  outline: none;
}
.send-icon {
  border-radius: 0 6px 6px 0;
}
.contact-footer-icon {
  background-color: rgba(255, 255, 255, 0.16);
  color: rgb(99, 171, 69);
  padding: 15px;
  border-radius: 50%;
}
.footer-contact-header {
  color: rgb(167, 167, 167);
  font-size: 15px;
  font-weight: 500;
}
.footer-contact-text {
  color: rgb(225, 225, 225);
  font-style: 15px;
  font-weight: 600;
}

.footer-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(38, 45, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.footer-social-icon:hover{
    background-color: white;
    color: rgb(38, 45, 40);
}
@media (max-width: 767px) {
    .mobile-border {
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    }
  }